.portfolio h2:after{
	border-image: url('../img/wave/dark-wave.png') 3 0 repeat;
	border-width: 3px;
	border-style: solid;
	content: '';
	position: absolute;
	top: 40px;
	width: 190px;
	margin-left: -160px;
}

.portolio_sel{
	padding-top: 55px;
	text-align: center;
	li{
		display: inline-block;
		padding: 10px 20px;
		color: rgba(66, 65, 65, 1.0);
		text-transform: uppercase;
		font-size: 11px;
		line-height: 20px;
		font-family: $mostserrat;
		border: 2px solid rgba(66, 65, 65, 1.0);
		transition: .3s ease-out;
		cursor: pointer;
		&:hover{
			background-color: rgba(66, 65, 65, 1.0);
			color: #fff;
		}
		&.active{
			background-color: rgba(66, 65, 65, 1.0);
			color: #fff;
		}
	}
}
.wrapper-portfolio-elem{
	// height: 44vw;
	max-width: 1600px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	.mix{
		display: none;
	}
	.portfolio-elem{
		width: 25%;
		height: 25vw;
		img{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}