.prices{
	padding: 0 0 90px;
	h2{
		&:after{
			border-image: url('../img/wave/dark-wave.png') 3 0 repeat;
			border-width: 3px;
			border-style: solid;
			content: '';
			position: absolute;
			top: 40px;
			width: 115px;
			margin-left: -102px;
		}
	}
}
.price_wrapper{
	display: flex;
	justify-content: space-between;
	.price_item{
		width: 32%;
		background-color: #fff;
		text-align: center;
		h5{
			text-transform: uppercase;
			letter-spacing: 2px;
			color: $main_color;
			font-size: 13px;
			line-height: 18px;
			font-family: $mostserrat;
			padding-top: 45px;
			position: relative;

		}
		.price-item--icon{
			width: 50px;
			height: 50px;
			margin: 25px auto;
			display: block;
			position: relative;
			&:after,
			&:before{
				content: '';
				position: absolute;
				border: 1px $main_color solid;
				width: 95px;
				top: 50%;
			}
			&:after{left: 50px;}
			&:before{right: 50px;}
		}
		.price-item--icon-one{
			background: url('../img/icons/price-icon.png') no-repeat;
		}
		.price-item--icon-two{
			background: url('../img/icons/price-icon-2.png') no-repeat;
		}
		.price-item--icon-three{
			background: url('../img/icons/price-icon-3.png') no-repeat;
		}
		.price-item__cost{
			font-size: 70px;
			color: $main_color;
			font-weight: 700;
			font-family: $mostserrat;
			display: block;
			position: relative;
			sup{
			 	vertical-align: baseline;
			 	position: relative;
			 	font-size: 30px;
			 	top: -1.2em; 
			}
		}
		p{
			padding-top: 50px;
			font-size: 16px;
			line-height: 30px;
			color: $main_color;
			font-style: italic;
		}
		a{
			margin: 50px 0 60px;
			display: inline-block;
			padding: 15px 30px;
			border: 2px solid $main_color;
			color: $main_color;
			font-size: 13px;
			font-family: $mostserrat;
			transition: .3s ease-out;
			&:hover{
				color: #fff;
				background-color: $main_color;
			}
		}
	}
}